::-moz-selection { color: white; background: #ee4444; text-shadow: none; }
::selection      { color: white; background: #ee4444; text-shadow: none; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px)  { html { font-size: 0.875rem; } }
@media screen and (min-width: 900px)  { html { font-size: 0.875rem; } }
@media screen and (min-width: 1024px) { html { font-size: 1rem; } }
@media screen and (min-width: 1200px) { html { font-size: 1.125rem; } }

body {
  position: relative;
  background: #fff;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}

article {
  max-width: 55rem;
  margin: 3rem auto 5rem auto;
  padding: 0 2rem;
}

a {
  color: #ee4444;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-weight: normal;
  margin: 2rem 0 1rem 0;
}
h1 {
  font-size: 2.250rem;
}
h2 {
  font-size: 1.50rem;
}
h3 {
  font-size: 1.313rem;
}
h4 {
  font-size: 1.125rem;
  font-weight: bold;
}
