<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <article>
      {{ content }}
    </article>
    <footer>
      <ul>
        <li><a href="http://rubymonstas.org">Ruby Monstas</a></li>
        <li><a href="mailto:ruby.monsters@gmail.com">Email</a></li>
        <li><a href="https://twitter.com/rubymonsters">Twitter</a></li>
        <li><a href="https://github.com/rubymonsters">GitHub</a></li>
        <li><a href="http://foundation.travis-ci.org/imprint/">Imprint</a></li>
      </ul>
    </footer>
  </body>
</html>
